<main>
  <div class="jumbotron">
    <h1 class="display-4">Kontakt ze mną</h1>
    <p class="lead">
      W&nbsp;tym dziale znajdziesz wszystkie niezbędne do tego informacje.
    </p>
  </div>
  <section class="card-deck">
    <div class="card card-inverse mb-4 card-light-grey">
      <h4 class="card-header"><i class="fa fa-2x fa-at" aria-hidden="true"></i></h4>
      <article class="card-block card-grey">
        <h5 class="card-title">E-mail</h5>
        <p class="card-text text-justify">To moja preferowana opcja kontaktu ze mną. Specjalnie na te potrzeby założyłem oddzielną skrzynkę pocztową i&nbsp;podpiąłem ją do swojego telefonu. Dzięki temu jestem na bieżąco z&nbsp;wszystkim, co do mnie przychodzi. Postaram się odpisać najszybciej, jak to będzie możliwe.</p>
        <h6 class="card-text"><strong>boardgame.velestus@gmail.com</strong></h6>
      </article>
    </div>
    <div class="card card-inverse mb-4 card-light-grey">
      <h4 class="card-header"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></h4>
      <article class="card-block card-grey">
        <h5 class="card-title">Facebook</h5>
        <p class="card-text text-justify">Skoro jesteś na tej stronie, to raczej nie będziesz mieć problemów ze znalezieniem mnie na FB.<br/><br/> Mam internet w&nbsp;telefonie (Szok! Niedowierzanie!) i&nbsp;mam Messengera, więc zawsze odpowiem. Nie krępuj się, pisz! Ta opcja kontaktu jest zawsze dostępna.</p>
      </article>
    </div>
    <div class="card card-inverse mb-4 card-light-grey">
      <h4 class="card-header"><i class="fa fa-2x fa-mobile" aria-hidden="true"></i></h4>
      <article class="card-block card-grey">
        <h5 class="card-title">Telefon</h5>
        <p class="card-text text-justify">Jeśli znamy się już, bądź jeśli spotkamy się kilka razy, to będę mógł podać swój numer telefonu. Opcja ta może się przydać na te chwile, kiedy jedno z&nbsp;nas będzie miało problemy z&nbsp;dostępem do sieci.<br><br> W&nbsp;innych przypadkach nie udostępniam swojego numeru telefonu.</p>
      </article>
    </div>
  </section>
</main>
