<main>
  <div class="jumbotron">
    <h1 class="display-4">Regalik Velestusa</h1>
    <p class="lead">
      Cieszę się, że odwiedzasz moją stronę internetową! Znajdziesz tu informacje dotyczące posiadanych przeze mnie gier, ich ulepszeniach oraz wiele innych. Zapraszam do przeglądania!
    </p>
  </div>
  <section class="card-deck">
    <article class="col-sm-12 col-md-12 col-lg-12 col-xl-5 single-card">
      <div class="card card-inverse content">
        <div class="card-block">
          <h5>Co dokładnie znajduje się na tej witrynie:</h5>
          <ul>
            <li><span>Garść informacji dotycząca mojej osoby.</span></li>
            <li><span>Galeria posiadanych przeze mnie gier planszowych.</span></li>
            <li><span>Moja prywatna ocena moich gier.</span></li>
            <li><span>Udokumentowane usprawnienia wykonane własnoręcznie przeze mnie.</span></li>
            <li><span>Relacje ze spotkań planszowych, w których uczetniczyłem.</span></li>
            <li><span>Możliwości skontaktowania się ze mną.</span></li>
          </ul>
          <h6>A więc... zapraszam!</h6>
        </div>
      </div>
    </article>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 single-card">
      <div class="card card-inverse content carouselContainer">
        <div id="carouselSlideOnly" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover">
          <ol class="carousel-indicators carousel-indicators--round">
            <li data-target="#carouselSlideOnly" data-slide-to="0" class="active"></li>
            <li data-target="#carouselSlideOnly" data-slide-to="1"></li>
            <li data-target="#carouselSlideOnly" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner landscape-ratio" role="listbox">
            <figure class="carousel-item active">
              <img class="d-block img-fluid" src="./assets/img/meetings/meeting_0001.jpg" alt="Chaos w Starym Świecie - rozgrywka">
            </figure>
            <figure class="carousel-item">
              <img class="d-block img-fluid" src="./assets/img/workshop/runebound/runebound_workshop_01.jpg" alt="Runebound - pomalowana figurka">
            </figure>
            <figure class="carousel-item">
              <img class="d-block img-fluid" src="./assets/img/workshop/ankh_morpork/ankh_morpork_workshop_01.jpg" alt="Ankh Morpork - piankowy insert">
            </figure>
          </div>
          <a class="carousel-control-prev carouselContainer" href="#carouselSlideOnly" role="button" data-slide="prev">
          <i class="fa fa-chevron-left carouselButton"></i>
        </a>
          <a class="carousel-control-next carouselContainer" href="#carouselSlideOnly" role="button" data-slide="next">
          <i class="fa fa-chevron-right carouselButton"></i>
        </a>
        </div>
      </div>
    </div>
  </section>
</main>
