.card-flex {
  height: 95%;
  display: flex;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  background: #37474f;
}
.card-block-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card.card-footer-flex {
  align-self: flex-end;
  flex: 1 1 auto;
}
.game-details {
  opacity: 0.5;
  cursor: pointer;
  background-color: #26a69a;
  color: #212121;
  transition: opacity 1s linear 0s;
}
.game-details:hover {
  background-color: #4db6ac;
}
@keyframes show {
  0%    {opacity: 0.5;}
  25%   {opacity: 0.67;}
  50%   {opacity: 0.83;}
  100%  {opacity: 1;}
}
@keyframes hide {
  0%    {opacity: 1;}
  25%   {opacity: 0.83;}
  50%   {opacity: 0.67;}
  100%  {opacity: 0.5;}
}
.card:hover .card-footer .game-details {
  opacity: 1;
}

.card-subtitle {
  hyphens: none;
}